<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/partials.css">
  <title><%= user.username %>'s Posts</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1 class="community-show-header"><%= user.username %>'s Posts</h1>

  <ul class="community-show-list">
    <% posts.forEach(post => { %>
    <li>
      <p><span><%= post.title %></span><%= post.rating %></p>

      <% if (post.content) { %>
      <p>Details: <%= post.content %></p>
      <% } %>
    </li>
    <% }) %>
  </ul>
</body>

</html>