<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Posts</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1><%= user.username %>'s Posts</h1>

  <ul>
    <% posts.forEach(post => { %>
    <li>
      <p><span><%= post.title %></span><%= post.rating %></p>

      <p><%= post.content %></p>
      <hr />
    </li>
    <% }) %>
  </ul>
</body>

</html>