<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %></title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= post.title %></h1>
  <p><%= post.rating %></p>
  <img src="<%= post.photo %>" alt="<%= post.title %>" />
  <p>Visited Date: <%= post.dateVisited %></p>
  <p>Estimate Cost: <%= post.estimatedCost %></p>
  <p>Details: <%= post.content %></p>

  <form action="/users/<%= user._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete this post</button>
  </form>

  <a href="/users/<%= user._id %>/posts/<%= post._id %>/edit">Edit this post</a>
</body>

</html>